@font-face {
    font-family: Bombing;
    src: url(fonts/Bombing.ttf);
}

body{
    background-color: lightgrey;
}

canvas {
    border: 2px solid black;
    display: block;
    margin: 0 auto;
    background: url("../images/background.png") no-repeat;
    background-size: cover;
}

h1{
    margin: 30px;
    font-family: Bombing;
    text-transform: uppercase;
    font-size: 100px;
    color: coral;
    letter-spacing: 10px;
    text-align: center;
}

h2{
    text-align: center;
}

section{
    display: inline-block;
    text-align: justify;
}

#left{
    float: left;
}

#right{
    float: right;
}

#menu{
    width: 400px;
    margin: 0 auto;
}

#wrapper{
    background-color: lightgrey;
}