canvas {
    border: 2px solid black;
    margin: 100px auto;
    position: absolute;
    right: 0;
    left: 0;
    background: url("../images/background.png") no-repeat;
    background-size: cover;
}
